@model List<Destination.Datum>

@{
    ViewData["Title"] = "Index";
}

<th>@ViewBag.destinationId</th>
<table class="table table-bordered">
    <tr>
        <td>id</td>
        <td>ad</td>
        <td>Şehir</td>
        <td>Ülke</td>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.dest_id</td>
            <td>@item.name</td>
            <td>@item.city_name</td>
            <td>@item.country</td>
        </tr>
    }
</table>
